{% extends "base.html" %}

{% block title %}VPR: Dorothy's List{% endblock %}

{% block header_title %}Dorothy's List{% endblock %}
{% block content %}

<div id="current-book" class="row">
    <div class="col-sm-4">
        <img class="img-responsive" src="{{ url_for('static', filename='img/temple.jpg') }}">
    </div>
    <div id="fold-copy" class="col-sm-8">
        <h3 id="this-month">This Month's Book</h3>
        <h1>Temple Grandin</h1>
        <h2>By Sy Montgomery</h2>
        <p class="about-book">Dr. Temple Grandin is a scientist and professor of animal science at Colorado State University whose world-changing career revolutionized the livestock industry. Diagnosed with autism at the age of two, Temple uses her experience as an example of the unique contributions that autistic people can make. This compelling biography takes us inside her extraordinary mind and opens the door to a broader understanding of autism.</p>
        <div id="student-teacher">
            <p class="about-book" id="question"><span id="students">Students:</span> Have a question for the author? <a href="http://digital.vpr.net/post/dorothys-list-how-embracing-thinking-pictures-brought-temple-grandin-success#disqus_thread">Ask it here.</a></p>
            <p class="about-book"><span id="for-teachers">Teachers:</span> <a href="http://digital.vpr.net/post/dorothys-list-how-embracing-thinking-pictures-brought-temple-grandin-success#disqus_thread">Share</a> your lessons or <a id="contact-amy-prompt" href="mailto:anoyes@vpr.net">contact</a> VPR's Amy Noyes</p>
        </div>
    </div>
</div>

<hr>

<div id="button-nav" class="row">
    <div class="col-sm-4">
        <button type="button" id="about-dorothy-btn" class="btn btn-success">About Dorothy's List</button>
    </div>
    <div class="col-sm-4">
        <button type="button" id="past-book-btn" class="btn btn-primary">Past Books</button>
    </div>
    <div class="col-sm-4">
        <button type="button" id="upcoming-book-btn" class="btn btn-primary">Upcoming Books</button>
    </div>
</div>

<div id="past-books" class="tabbed-content">
    <div class="row">
        <div class="book col-md-6">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://digital.vpr.net/post/dorothys-list-boy-cinnamon-street">
                        <img class="cover img-responsive" src="{{ url_for('static', filename='img/cinnamon.jpg') }}">
                    </a>
                </div>
                <div class="book-text col-sm-8">
                    <h3><a href="http://digital.vpr.net/post/dorothys-list-boy-cinnamon-street">The Boy On Cinnamon Street</a></h3>
                    <p>By Phoebe Stone</p>
                    <p>Seventh-grader Louise should be the captain of her school's gymnastics team&mdash;but she isn't. She's fun and cute and should have lots of friends&mdash;but she doesn't. And there's a dreamy boy who has a crush on her – but somehow they never connect. Louise has everything going for her&mdash;so what’s holding her back?</p>
                    <div class="audio-comments row">
                        <div class="col-xs-4 audio-div">
                            <span class="play-text">Play</span>
                            <span class="audio-text">Audio</span>
                            <a class="audio_play"><audio src="http://cpa.ds.npr.org/vpr/audio/2014/01/vpr-dorothys-list-010614.mp3#" type="audio/mpeg"></audio>
                                <button type="button" class="btn btn-default audio-button">
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </a>
                        </div>
                        <div class="view-comments col-xs-8">
                            <a href="http://digital.vpr.net/post/dorothys-list-boy-cinnamon-street#disqus_thread" class="count-comments" data-disqus-url="http://digital.vpr.net/post/dorothys-list-boy-cinnamon-street">View Comments (0)</a>
                        </div>
                    </div>
                </div>
            </div>
        <hr class="visible-xs visible-sm">
        </div>
        <div class="book col-md-6">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://digital.vpr.net/post/dorothys-list-wonder-teaches-kindness-acceptance-and-friendship">
                        <img class="cover img-responsive" src="{{ url_for('static', filename='img/wonder.jpg') }}">
                    </a>
                </div>
                <div class="book-text col-sm-8">
                    <h3><a href="http://digital.vpr.net/post/dorothys-list-wonder-teaches-kindness-acceptance-and-friendship">Wonder</a></h3>
                    <p>By R.J. Palacio</p>
                    <p>August Pullman was born with a facial deformity that, until now, has prevented him from going to a mainstream school. <em>Wonder</em> begins from Auggie’s point of view, but soon switches to include his classmates, his sister and others. These perspectives converge in a portrait of one community’s struggle with empathy, compassion and acceptance.</p>
                    <div class="audio-comments row">
                        <div class="col-xs-4 audio-div">
                            <span class="play-text">Play</span>
                            <span class="audio-text">Audio</span>
                            <a class="audio_play"><audio src="http://cpa.ds.npr.org/vpr/audio/2014/01/vpr-dorothys-list-010614.mp3#" type="audio/mpeg"></audio>
                                <button type="button" class="btn btn-default audio-button">
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </a>
                        </div>
                        <div class="view-comments col-xs-8">
                            <a href="http://digital.vpr.net/post/dorothys-list-wonder-teaches-kindness-acceptance-and-friendship#disqus_thread" class="count-comments" data-disqus-url="http://digital.vpr.net/post/dorothys-list-wonder-teaches-kindness-acceptance-and-friendship">View Comments (0)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="book col-md-6">
            <div class="row">
                <div class="col-sm-4">
                    <a href="http://digital.vpr.net/post/dorothys-list-jo-knowles-emotional-novel-see-you-harrys">
                        <img class="cover img-responsive" src="{{ url_for('static', filename='img/harrys.jpg') }}">
                    </a>
                </div>
                <div class="book-text col-sm-8">
                    <h3><a href="http://digital.vpr.net/post/dorothys-list-jo-knowles-emotional-novel-see-you-harrys">See You At Harry's</a></h3>
                    <p>By Jo Knowles</p>
                    <p>For 12-year-old Fern, starting middle school brings all the usual challenges -- at school and at home. If it weren't for Ran, Fern’s calm and positive best friend, there’d be nowhere to turn. Then the unthinkable happens, and Fern and her family must find a way to heal.</p>
                    <div class="audio-comments row">
                        <div class="col-xs-4 audio-div">
                            <span class="play-text">Play</span>
                            <span class="audio-text">Audio</span>
                            <a class="audio_play"><audio src="http://cpa.ds.npr.org/vpr/audio/2013/12/vpr-see-you-at-harrys-20131202.mp3#" type="audio/mpeg"></audio>
                                <button type="button" class="btn btn-default audio-button">
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </a>
                        </div>
                        <div class="view-comments col-xs-8">
                            <a href="http://digital.vpr.net/post/dorothys-list-jo-knowles-emotional-novel-see-you-harrys#disqus_thread" class="count-comments" data-disqus-url="http://digital.vpr.net/post/dorothys-list-jo-knowles-emotional-novel-see-you-harrys">View Comments (0)</a>
                        </div>
                    </div>
                </div>
            </div>
        <hr class="visible-xs visible-sm">
        </div>
        <div class="book col-md-6">
            <div class="row">
                <div class="col-sm-4">
                        <a href="http://digital.vpr.net/post/dorothys-list-story-spies-and-nuclear-secrets-told-bomb">
                            <img class="cover img-responsive" src="{{ url_for('static', filename='img/bomb.jpg') }}">
                        </a>
                    </div>
                <div class="book-text col-sm-8">
                    <h3><a href="http://digital.vpr.net/post/dorothys-list-story-spies-and-nuclear-secrets-told-bomb">Bomb</a></h3>
                    <p>By Steve Sheinkin</p>
                    <p>In 1938, a chemist in a German laboratory used uranium to split an atom in two – a simple discovery that would launch a scientific race that spanned three continents. <em>Bomb</em> is the story of the plotting, the risk-taking, deceit and genius that created the world's most formidable weapon: the atomic bomb.</p>
                    <div class="audio-comments row">
                        <div class="col-xs-4 audio-div">
                            <span class="play-text">Play</span>
                            <span class="audio-text">Audio</span>
                            <a class="audio_play"><audio src="http://cpa.ds.npr.org/vpr/audio/2013/11/vpr-dorothys-list-bomb-20131104.mp3" type="audio/mpeg"></audio>
                                <button type="button" class="btn btn-default audio-button">
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </a>
                        </div>
                        <div class="view-comments col-xs-8">
                            <a href="http://digital.vpr.net/post/dorothys-list-story-spies-and-nuclear-secrets-told-bomb#disqus_thread" class="count-comments" data-disqus-url="http://digital.vpr.net/post/dorothys-list-bomb-race-build-and-steal-worlds-most-dangerous-weapon">View Comments (0)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="book col-md-6">
            <div class="row">
                <a href="http://digital.vpr.net/post/dorothys-list-expeditioners">
                    <img class="cover img-responsive col-sm-4" src="{{ url_for('static', filename='img/expeditioners.jpg') }}">
                </a>
                <div class="book-text col-sm-8">
                    <h3><a href="http://digital.vpr.net/post/dorothys-list-expeditioners">The Expeditioners</a></h3>
                    <p>By S.S. Taylor</p>
                    <p>Computers have failed, electricity is extinct, and the race to discover new lands is underway! Kit the brain, M.K. the tinkerer, and Zander the brave have inherited a strange map from their dead father. But why are so many government agents trying to steal it?</p>
                    <div class="audio-comments row">
                        <div class="col-xs-4 audio-div">
                            <span class="play-text">Play</span>
                            <span class="audio-text">Audio</span>
                            <a class="audio_play"><audio src="http://cpa.ds.npr.org/vpr/audio/2013/10/vpr-dorothys-list-part-1.mp3" type="audio/mpeg"></audio>
                                <button type="button" class="btn btn-default audio-button">
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </a>
                        </div>
                        <div class="view-comments col-xs-8">
                            <a href="http://digital.vpr.net/post/dorothys-list-expeditioners#disqus_thread" class="count-comments" data-disqus-url="http://digital.vpr.net/post/dorothys-list-expeditioners">View Comments (0)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="upcoming-books">
    <div class="row">
        <div class="book col-md-6">
            <div class="row">
                <div class="col-sm-4">
                    <img class="cover img-responsive" src="{{ url_for('static', filename='img/eli.jpg') }}">
                </div>
                <div class="book-text col-sm-8">
                    <h3>After Eli</h3>
                    <p>By Rebecca Rupp</p>
                    <p>Some people die heroically, others accidentally. When Daniel Anderson’s older brother Eli dies, he wonders which category Eli’s death falls into. In an attempt to understand, Danny creates a Book of the Dead — an old binder that he fills with details about dead people, how they died, and, most important, for what purpose.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about-dorothy" class="row">
    <div id="what-is" class="col-sm-7">
        <h3>What is Dorothy's List?</h3>
        <p>Dorothy’s List is VPR’s book club for kids! Each month we highlight a book nominated for the Dorothy Canfield Fisher Children’s Book Award. We visit schools and libraries where the book is being read, check out how young readers are interacting with the book and relay students’ questions to the author.</p>
        <h3>The Dorothy Canfield Fisher Award</h3>
        <p>First given in 1957, the Dorothy Canfield Fisher Children's Book Award has <a href="https://sites.google.com/a/cesuvt.org/dcf-award/">honored quality literature for children</a> for over 55 years. Each spring, 30 nominees are named to the <a href="{{ url_for('static', filename='pdf/dcf-award-master-2013.pdf') }}">DCF Master List</a>. After reading at least five books from the list, Vermont students in grades four through eight vote for their favorite. Learn more <a href="http://dcfbooks.edublogs.org/">here</a>.</p>
        <h3>How to get involved</h3>
        <p>How does your school or library do DCF? Let us know! Share an activity or a lesson plan. Tell us what books you’d like to see highlighted on Dorothy’s List and why. And please let us know if you’re interested in participating in a future program!</p>
    </div>
    <div id="meet-amy" class="col-sm-5">
        <div class="row">
            <h3>Project Curator</h3>
            <div class="col-xs-6">
                <img class="img-responsive img-circle" src="{{ url_for('static', filename='img/amy.jpg') }}">
            </div>
            <div id="contact-amy" class="col-xs-6">
                <h4>Amy Kolb Noyes</h4>
                <ul>
                    <li><a href="http://twitter.com/amykolbnoyes">@AmyKolbNoyes</a></li>
                    <li><a href="mailto:anoyes@vpr.net">anoyes@vpr.net</a></li>
                </ul>
            </div>
        </div>
        <p>Dorothy's List is curated and reported by VPR's Amy Kolb Noyes and is funded in part by the VPR Journalism Fund. Share your questions and suggestions with Amy on <a href="http://twitter.com/amykolbnoyes">Twitter</a> or via <a href="mailto:anoyes@vpr.net">e-mail</a>.</p>
        <p id="poster"><strong>Want to put up a poster for Dorothy's List in your classroom or library?</strong></p>
        <p id="click-pdf"><a href="{{ url_for('static', filename='pdf/vpr-dorothys-list-poster.pdf') }}">Click here</a> for a printable poster or <a href="{{ url_for('static', filename='pdf/vpr-dorothys-list-flyer.pdf') }}">here</a> for a flyer.</p>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/dorothy-ck.js') }}"></script>
{% endblock %}
